<div class="user-detail-list">
    <div>
        <img [src]="userData.picture.medium" />
    </div>
    <div>
        <div>
            <p>{{userData.name.title}} {{userData.name.first}} {{userData.name.last}}</p>
            <span>{{userData.email}}</span>
        </div>
        <ul>
            <li>Id: {{userData.login.uuid}}</li>
            <li>Gender: {{userData.gender}}</li>
            <li>Country: {{userData.location.country}}</li>
            <li>City: {{userData.location.city}}</li>
            <li>streetNumber: {{userData.location.street.number}}</li>
            <li>streetName: {{userData.location.street.name}}</li>
        </ul>
    </div>
    <div>
        <button (click)="updateUser(userIndex)">Edit</button>
        <button (click)="deleteUser(userIndex)">Delete</button>
    </div>
</div>